<container>
  <spacer size="16"></spacer>
  <row>
    <columns small="12">
      <h1>Hi, <%= name %></h1>
      <p class="lead">Welcome to <%= app_name %>. I hope you like it!</p>
    </columns>
  </row>
</container>